h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 5px;
}

h3{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}

p{
    text-align: center;
    color: white;
    font-size: 20px;
}

label{
    color: white;
    font-size: 15px;
}

textarea{
    width: 450px;
    height: 45px;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(70, 70, 70);
    color: white;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
}

button{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 30px;
}

div{
    text-align: center;
}

body{
    background-color: rgb(70, 70, 70);
}

input[type=checkbox] {
    transform: scale(2);
}

input[type=number] {
    transform: scale(1.75);
    width: 40px;
}

input[type=text] {
    transform: scale(1.75);
    text-align: center;
}

a:link {
    color: rgb(180, 230, 200);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(180, 230, 200);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(103, 230, 200);
    background-color: transparent;
    text-decoration: underline;
}