h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

h2{
    text-align: center;
    color: white;
    font-size: 40px;
}

h3{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}

h4{
    text-align: center;
    color: white;
    font-size: 25px;
}

label{
    color: white;
    font-size: 15px;
}

textarea{
    width: 450px;
    height: 45px;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(70, 70, 70);
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

button{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 30px;
}

div{
    text-align: center;
}